<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Puzzle Game</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="imageFile">Select Image:</label>
    <input type="file" name="imageFile" id="imageFile" accept="image/*" required/>

    <label for="numPuzzlePieces">Number of Puzzle Pieces:</label>
    <input type="number" name="numPuzzlePieces" id="numPuzzlePieces" required oninput="validateNumPuzzlePieces()"/>

    <input type="submit" value="Upload"/>
</form>
<script>
    // Function to validate input number, not all numbers are fine to create puzzle
    function validateNumPuzzlePieces() {
        var numPuzzlePiecesInput = document.getElementById("numPuzzlePieces");
        var numPuzzlePieces = numPuzzlePiecesInput.value;

        var squareRoot = Math.floor(Math.sqrt(numPuzzlePieces));

        if (numPuzzlePieces % squareRoot !== 0) {
            numPuzzlePiecesInput.setCustomValidity("Incorrect number or less than 16");
        } else {
            numPuzzlePiecesInput.setCustomValidity("");
        }
    }
</script>
</body>
</html>
